.h1special {
    margin: 0;
    color: #444;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}
.h2special {
    margin: 0;
    color: #444;
    padding: 0px 0px 6px 0px;

    letter-spacing: -2px;
    font-weight: bold;
}
.carousel-caption a {
    margin: 0;
    color: white;
    padding: 0px 0px 6px 0px;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}
.navbar-brand a {color: black;}
a:hover { color: #A78600;
text-decoration: none;}
#index_img {
    height:70vh;
    width: 100vh;
}
img { /*images with hover effect*/
    filter: saturate(15%);
}
img:hover {
    filter: saturate(100%);
}
.media img, 
.blogpost img,
.harold { /*images with no hover effect*/
    filter: saturate(100%);
}
.media img:hover,
.blogpost img:hover
.harold {
    filter: saturate(100%);
}
.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.index_p{
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    padding: 20px;
    margin-top:50px;
}
footer {
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom:10px;
    position:relative;
    display:flex;
}
.text {
    padding: 20px;
    font-size: 20px;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    margin-top:10px;
    color:black;
    font-family: Merriweather;
    font-style: italic;
    margin-bottom:20px;
}
.posted {
    font-size: small;
    font-style: italic;
    color: grey;
}
.quote { /*users comments*/
    font-size: 15px;
}

.blog { /*the whole comment section*/
    border: 1px solid lightgrey;
   /*padding-top: 20px;*/
    font-family: Merriweather;
    padding-bottom: 5px;
}
.blog h5 { 
    color:grey;
}
.blog_content { /*this is the paragraphs in the blog*/
    line-height: 25px;
    font-family: Merriweather;
    margin-bottom:20px;
}
.comment { /*leave us a comment*/
    font-family: Merriweather;
    margin-top:20px;
}
.comment h4 {
    font-family: Merriweather;
    color:#444;
    margin-bottom: 20px;
}
.a_card, .b_card, .c_card, .d_card {
    text-align: center;
}
.a_card { /*card is for the lead text in the six services they have different margin depending on screen size & image*/
    margin-top: 28px;
}
.b_card {
    margin-top: 20px;
}
.c_card {
    margin-top: 15px;
}
.d_card {
    margin-top:80px;
}
.lead {
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    padding: 20px;
    font-family: Merriweather;
}
.info { /*blog authors*/
    padding: 20px;
    font-family: Merriweather;
}
.tabs {
    margin-top:30px;
}
.tabs_heading {
    font-family: Merriweather;
    color:#444;
    margin-top: 30px;
    border-bottom: lightgrey solid 1px;
    padding-bottom: 3px;
	margin-bottom: 20px;
}
.tab-pane1 h4 {
    font-family: Merriweather;
    color:#444;
    font-style: italic;
}
.tab-pane1 p {
    font-family: Merriweather;
    color:#444;
    margin-bottom: 20px;
}
.booking_form { /*stylling labels on booking form*/
    font-family: Merriweather;
    color:#444;
}
img {
    image-rendering: -webkit-optimize-contrast;
}


.navbar-default,
.panel-heading {
    /* background-color: #f1c40f; */
    background: rgba(241,196,14,1);
    background: -moz-linear-gradient(-45deg, rgba(241,196,14,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,196,14,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(-45deg, rgba(241,196,14,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(241,196,14,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(241,196,14,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(135deg, rgba(241,196,14,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1c40e', endColorstr='#ffffff', GradientType=1 );
}



.navbar-default .navbar-nav>li>a { 
    color: #524200;
    font-family: "Arial";
}

.navbar-default .navbar-nav>li>a:hover {
    color: #A78600;

}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #FFFAE8 0%, #fff 100%);
  background-image:      -o-linear-gradient(top, #FFFAE8 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFAE8), to(#fff));
  background-image:         linear-gradient(to bottom, #FFFAE8 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAE8', endColorstr='#fff', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}


a {
    color: #524200;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #524200;
    background-color: #FFFAE8;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #524200;
    text-decoration: none;
    background-color: #FFE167;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #524200;
    text-decoration: none;
    background-color: #FFE167;
    outline: 0;
}

.breadcrumb {
    background-color: #FFFAE8;
}