.h1special {
    margin: 0;
    color: #444;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.h2special {
    margin: 0;
    color: #444;
    padding: 0px 0px 6px 0px;

    letter-spacing: -2px;
    font-weight: bold;
}

.carousel-caption a {


    margin: 0;
    color: white;
    padding: 0px 0px 6px 0px;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.navbar-brand a {color: black;}

a:hover { color: lightblue;
text-decoration: none;}

#index_img {
    height:70vh;
    width: 100vh;
}

img:hover{
        filter: saturate(15%)
    }
.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_p{
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    padding: 20px;
    margin-top:50px;
}
footer {
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom:10px;
    position:relative;
    display:flex;
}
footer p{align-content: baseline;}
.row {
    position: relative;
}
.align-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
.text {
    padding: 20px;
    font-size: 20px;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
    margin-top:10px;
    color:black;
    font-family: Merriweather;
    font-style: italic;
    margin-bottom:20px;
}
.posted {
    font-size: small;
    font-style: italic;
    color: grey;
}
.quote {
    font-size: 15px;
}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
    text-decoration: none;
    outline: 0;
    background-color:grey; /*This does not work!*/
}
.blog {
    border: 1px solid lightgrey;
   /*padding-top: 20px;*/
    font-family: Merriweather;
    padding-bottom: 5px;
}
.blog h5 {
    color:grey;
}
.blog_content {
    line-height: 25px;
    font-family: Merriweather;
    margin-bottom:20px;
}
.comment {
    font-family: Merriweather;
    margin-top:20px;
}
.comment h4 {
    font-family: Merriweather;
    color:#444;
    margin-bottom: 20px;
}
.a_card {
    padding: 20px;
    margin-top: 28px;
    text-align: center;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}
.b_card {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}
.c_card {
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}
.info {
    padding: 20px;
    font-family: Merriweather;
}
.tabs {
    margin-top:30px;
}
.tabs_heading {
    font-family: Merriweather;
    color:#444;
    margin-top: 30px;
    border-bottom: lightgrey solid 1px;
    padding-bottom: 3px;
	margin-bottom: 20px;
}
.tab-pane1 h4 {
    font-family: Merriweather;
    color:#444;
    font-style: italic;
}
.tab-pane1 p {
    font-family: Merriweather;
    color:#444;
    margin-bottom: 20px;
}
.booking_form {
    font-family: Merriweather;
    color:#444;
}