.h1special {
    margin: 0;
    color: #444;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.navbar-brand a {color: black;}

a:hover { color: lightblue;
text-decoration: none;}

img:hover{
        filter: saturate(15%)
    }
.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    opacity: 0.7;
    margin-top: 50px;
    margin-bottom:10px;
    position:relative;
    display:flex;
}

footer p{align-content: baseline;}
.row {
    position: relative;
}
.align-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
